<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-dark"
  data-bs-theme="dark"
  style="width: 280px; min-height: 100vh;"
>
  <a [routerLink]="['/super/dashboard']"
     class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-4">{{ title() }}</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a
        [routerLink]="['/super/companies']"
        [ngClass]="title() === 'Entreprises' ? 'nav-link active' : 'nav-link link-body-emphasis'"
      >
        <i class="fas fa-users me-2"></i> Entreprises
      </a>
    </li>
    <li>
      <a
        href="#"
        [ngClass]="title() === 'Products' ? 'nav-link active' : 'nav-link link-body-emphasis'"
      >
        <i class="fas fa-cart-shopping me-2"></i> Produits
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img [src]="loginService.getUser()?.avatar" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>{{ loginService.getUser()?.username }}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li>
        <a
          [ngClass]="title() === 'Settings' ? 'dropdown-item active' : 'dropdown-item'"
          href="#"
        >
          Settings
        </a>
      </li>
      <li>
        <a
          [ngClass]="title() === 'Profile' ? 'dropdown-item active' : 'dropdown-item'"
          href="#"
        >
          Profile
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <button class="dropdown-item" (click)="logout()">
          Sign out
        </button>
      </li>
    </ul>
  </div>
</div>
